<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Birthday</title>
    <style>
        .letter{
            max-width: 500px;
            margin: 0 auto;
            border: 1px solid gray;
            padding: 40px 30px;
            font-style: italic;
            letter-spacing: .8px;
            font-size: 14px;
            /* text-align: justify; */
            box-shadow:0px 0px 10px gray;
        }
        .header{
            display: flex;
            flex-direction: column-reverse;
            height: 60px;
            width:100%;
            justify-content: space-between;
            /* border: 1px solid yellow; */
        }

        /* p{
            text-indent: 30px;
        } */
    </style>
</head>
<body>
    <div class="letter">
        <div class="header">
            <div>Dear Reshma,</div>
            <div>10th April, 2021</div>
        </div>
         
        <div class="main-letter">
        <p>I have always believed in a life full of compassion, and understandings, and yet I feel helpless this time. I know you are going through a lot and there's not a way I could bring you out of it. Today is a special day, and I have no gifts for you, I can only give my words to you. I'm sorry.</p>

        <p>I'm no wise man, but, I just want to share some of the things that I've learnt to this day. And I know you are a grown woman now and have more life experiences than me, but I guess everyone of us is different right?</p>

        <p>Life has never failed to show us what it really is. Yet, little do we realise how time passes us by with the blink of an eye. It's been 9131 days since the day you were first born. And with every single day that passed by, you have become stronger and more immune to this world. You've learnt the best, you've seen the worst. You've grown to become your true self.</p>

        <p>But if you ever feel like nobody cares about you, or nobody needs you, just remember that the world just has so much to learn from it, that it takes a lifetime to even experience some of it. It's easy to think that everyone knows what you know, but everyday 100 million children are born. And not a single one of them know that they are made of atoms or that they live on a planet called earth. Somebody needs to be there to tell them. Even if nobody needs you, there's always someone who needs you. Your daughter is so smart, she's becoming just like you. She needs you.</p>

        <p>I want you to always follow the sun, and be like it. Just like it never fails to fall and rise again, I want you to fall, fall as low as you can, but the next day, I want you to rise, rise like it has never risen. Because tomorrow is a new day for everyone.</p>

        <p>And when life comes down on you like a heavy wave, I want you to always remember that -- "The ghost in the corner, knows how you are feeling, 'cause you are dead to him too. Some things never change, but maybe that's okay." </p>

        <p>And, if 9131 days can pass by, to pass just one more day is no big deal!<br><br>

        <div>Happy Birthday!</div><br>

        <div>Yours, <br>Mithu...</div>
        </div>
        

        
    </div>
</body>
</html>